body {
    margin: 0px;
    font-family: Nunito Sans, Arial, Helvetica, sans-serif;
}

.header {
    background-color: black;
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}
.container {
    max-width: 1276px;
    margin: 0 auto;
}

.logo {
    color: #E3B873;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0px;
    border: 0px;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.header-navigation {
    list-style: none;
    display: flex;
}

.header-navigation__item {
    margin-right: 47px;
}

.header-navigation__link {
    text-decoration: none;
    color: white;
}